@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --primary-color: #243747;
    --secondary-color: #D2D7DD;
    --third-color: #475767;
    --fourth-color: #011627;
    
}

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Space Grotesk";
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-items: center;
}

.nav-links{
    list-style-type: none;
    display: flex;
    gap: 1.4em;
    font-size: 1.5em;
}

.nav-links li a{
    text-decoration: none;
    color: var(--secondary-color);
}

.nav-links .head-link{
    /* border: .05em solid var(--secondary-color); */
    padding: .3em .8em;
    border-radius: .5em;
    font-weight: 700;
    transition: background-color 0.3s ease-out;
}

.head-link:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hero{
    display: flex;
    text-align: center;
}

.my-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10em;
}

.my-info h1{
    font-size: 4em;
    font-weight: 3em;
    margin-bottom: 0.5em;
}

.my-info .highlight{
    font-size: 1.5em;
    color: var(--secondary-color);
}

.my-info p{
    font-size: 1.2em;
    margin-bottom: 4em;
}

.profile-pic{
    position: absolute;
    width: 10em;
    size-adjust: 2em;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.pic-back{
    position: relative;
    background-color: var(--third-color);
    width: 10em;
    height: 10em;
    border-radius: 100%;
    margin-bottom: 5em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3)
}
 
.cta-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-bottom: 2em;
}

.btn{
    color: var(--secondary-color);
    text-decoration: none;
    background: var(--fourth-color);
    font-size: 1.4em;
    font-weight: 900;
    padding: 1em 1.2em;
    border-radius: 2em;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover{
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    font-weight: 900;
}

.social-links{
    display: flex;
    gap: 2em;
}

.social-links div a{
    text-decoration: none;
    color: var(--secondary-color);
}

.so-btn{
    transition: background-color 0.2s ease-in-out;
    padding: 1.2em 1.2em;
    cursor: pointer;
    border-radius: 2em;
}

.so-btn:hover{
    background: var(--fourth-color);
    color: var(--secondary-color);
}




